acis/aCis_datapack/data/geodata/
acis/aCis_datapack/log/
acis/.idea
acis/aCis_gameserver/.idea
.idea/
acis/aCis_gameserver/bin/
acis/aCis_gameserver/build/
acis/aCis_gameserver/.settings/
acis/aCis_datapack/config/loginserver.properties
acis/aCis_datapack/config/server.properties
